html {
  font-size: 13.3333vw;
}
input {
  background: none;
  outline: none;
  border:none;
  background:#fff;
}
.margin,.img{
  width:7.5rem;
  margin:0 auto;
}
.active{
  color:#ff88ac;
  font-weight: 700;
}
.d3{
  height: 6rem;
}
.title{
  font:700 .3rem/.62rem ""; 
}
dl{
  margin-left:.37rem;
  float: left;
}
dl dd{
  margin-left:.14rem;
  margin-top:.05rem;
  font:.24rem/.44rem "";
  width:3rem;
  float: left;
}
#zc span{
  font:700 .28rem/.8rem "";
  margin-left:1.14rem; 
  float: left;
}
#zc i{
  color:#f00;
  float: left;
  margin-top:.2rem;
  margin-left:.1rem;
}
.ipt-n,.ipt-p{
  width:5.06rem;
  height:.72rem;
  border:.03rem solid #bfbfbf;
  border-radius:.32rem;
  font:.32rem/.72rem "";
  text-align: center;
  color: #5a5e5f;
  margin-left:1.25rem;
}
.btn{
  width:5.06rem;
  height:.76rem;
  border-radius:.32rem;
  font:700 .32rem/.72rem "";
  margin-left:1.25rem;
  margin-top:.26rem;
  margin-bottom: .43rem;
  background:#ff88ac;
}
.yzm{
  margin-top:.28rem
}
.wap-code{
  width:2.53rem;
  height:.72rem;
  border-radius:.32rem;
  border:.03rem solid #bfbfbf;
  margin-left:1.25rem;
  text-align: center;
  font:.32rem/.72rem "";
}
.hqyzm{
  width:2rem;
  height:.76rem;
  border-radius:.32rem;
  background:#ff88ac;
  margin-left:.42rem;
  font:.32rem/.72rem "";
}