.margin{
  width:1024px;
  margin:0 auto;
}
.fl{
  float: left;
}
.fr{
  float: right;
}
header{
  height: 105px;
}
header .logo{
  margin-top:17px;
  
}
.logo-r-t{
  padding:0 9px 0 390px;
  
}
.logo-r-t a{
  font:12px/39px "";
}
.logo-r-t span{
  margin:0 10px;
}
.user,.password{
  width:  142px;
  height:25px;
  border:1px solid #e8e8e8;
  border-radius: 4px;
  margin:0 8px;
}
.login,.huiyuan{
  width:108px;
  height:37px;
  font:12px/37px "";
  color:#fff;
  border:none;
  border-radius: 3px;
}
.login{
  background:#89b73a;
}
.huiyuan{
  background:#529ad5;
}

nav{
  height:45px;
  background:#b8d1e8;
}
nav ul {
  padding-left:10px;
  padding-right:16px;
}
nav ul li{
  float: left;
  margin-right:25px;
}
nav ul li.te{
  margin-right:0;
}
nav ul li a {
  line-height: 45px;
}
.nav-r{
  width:205px;
  height:35px;
  background:#c7daec;
  border-radius: 17.5px;
  margin-top:5px;
}
.nav-r p{
  width:194px;
  height:30px;
  border-radius: 15px;
  background:#529ad5;
  text-align: center;
  margin:2px auto
}
.nav-r p a {
  line-height: 30px;
  color:#fff;
}

.banner{
  height:530px;
  margin-top:25px;
}
.swiper-container{
  height:425px;
  margin-bottom:10px;
}
.swiper-slide {
  background-size: cover;
  background-position: center;
}
main{
  height:1100px;
}
main ul {
  margin-top: 49px;
}
main ul li{
  
  margin-left:36px;
}
.dongtai{
  height:30px;
  width:285px;
  border-bottom: 1px solid #dfdfdf;
}
.dongtai h4{
  font:700 16px/28px "";
  border-bottom: 1px solid #4196dd;
}
.dongtai h4 span{
  padding-left:12px;
  font:14px/2 "";
}
.dongtai a{
  
  color:#888;
  border:1px solid #dfdfdf;
  padding:5px;
}
.cont{
  width:298px;
  border-right:1px dashed #e1e1e1;
}
.cont.te{
  border:none;
}
.cont p{
  font:12px/30px "";
  color:666;
  padding-left:18px;
  background:url("./image/dian.png") no-repeat left;
}
.cont p.te{
  margin-top:11px;
 
}

