<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://cdn.staticfile.org/vue-router/2.7.0/vue-router.min.js"></script>

</head>

<body>
  <div id="app">
    <ul v-for="set in sets">
      <li v-for="n in even(set)">{{n}}</li>
    </ul>
  </div>
</body>
<script>
  var vm = new Vue({
    el: "#app",
    data: {
      sets: [[1, 2, 3, 4, 5], [6, 7, 8, 9, 10]]
    },
    methods: {
      even: function (numbers) {
        return numbers.filter(function (number) {
          return number % 2 === 0
        })
      }
    }
  })
</script>

</html>