<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title> 
  <script src="./vuecdn.js"></script>
  <style>
    .active {
        color: red;
    }
</style>
</head>
<body>
  <div id="app">
    <dl>
        <dt>1、你知道“轰！逗你”的日语单词是什么吗？</dt>
        <dd v-for="(m,item) in movies">
            <a @click="btnClick(item)" :key="item" :class="{active:i===item}">{{m}}</a>
        </dd>
    </dl>
    <dl>
        <dt>1、你知道“轰！逗你”的日语单词是什么吗？</dt>
        <dd v-for="(m,item2) in movies2">
            <a @click="btnClick2(item2)" :key="item2" :class="{active:j===item2}">{{m}}</a>
        </dd>
    </dl>
</div>

<script>
    //创建Vue实例,得到 ViewModel
    var vm = new Vue({
        el: '#app',
        data: {
            movies: ['A、ほんとうに（真的）', 'B、ほどうに （真的？）', 'C、ほど（大约）'],
            movies2: ['A、哥哥', 'B、姐姐'],
            i: 0,
            j:0,
        },
        methods: {
            btnClick: function (index) {
                this.i = index;
            },
            btnClick2: function (index2) {
                this.j = index2;
            },
        }
    });
</script>

</body>
</html>