html {
  font-size: 13.3333vw;
}
input {
  background: none;
  outline: none;
  border:none;
  background:#fff;
}
.margin,.img{
  width: 7.5rem;
  margin: 0 auto;
}
.header{
  background:#0369d6;
  padding-left:.05rem;
}
.header-img{
  width:1.39rem;
  height:.36rem;
}
.zc{
  height: 5.8rem;
  background:#eee;
  padding-left:.45rem;
  padding-right:.49rem;
  padding-top:.2rem;
}
.ipt-n,.ipt-p{
  width:6.56rem;
  height:.94rem;
  border-radius: .15rem;
  text-indent: .4rem;
  font:.36rem/.94rem "";
  color:#747474;
}
.yzm{
  overflow: hidden;
  margin-top:.33rem;
  display:flex;
  justify-content: space-between;
}
.wap-code,.hqyzm{
  width:3rem;
  height:.94rem;
  border-radius: .15rem;
  font:.36rem/.94rem "";
  
}
.wap-code{
  text-indent: .4rem;
}
.hqyzm{
  background:#0059fb;
  color:#fff;
}
.btn{
  width:6.56rem;
  height:.94rem;
  background:#0059fb;
  font:700 .36rem/.94rem "";
  border-radius: .15rem;
  color:#fff;
  margin-top:.33rem;
}
.phone{
  margin-top:.33rem;
}
.tips{
  height:.48rem;
  margin-top:.19rem;
  font:.16rem/.28rem "";
  padding:0 .2rem;
}